<form class="{{cssClass}} Liber flexcol" autocomplete="off">
<div class="fiche">
	{{!-- Sheet Header --}}
	<div class="col2">
		<div class="sheet-header flexcol" id="pj-titre" style="flex: 0 0 515px;">
			<div class="head">
				<div class="avatar"> 
					<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				</div>
				<div class="headtext">
					<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
					<div class="rexrow">
						<div class="grid-3col">
							<p>{{localize 'liber.race'}} : <input class="race" name="data.race" type="text" value="{{data.data.race}}" placeholder="Race"/></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'liber.clan'}} : <input class="clan" name="data.clan" type="text" value="{{data.data.clan}}" placeholder="Clan"/></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'liber.religion'}} : <input class="religion" name="data.religion" type="text" value="{{data.data.religion}}" placeholder="Religion"/></p>
						</div>
						<!--div class="separator"></div-->
						<p>{{localize 'liber.bonus'}} : <input class="avantagerace" name="data.bonusrace" type="text" value="{{data.data.bonusrace}}" placeholder="Bonus"/>
							{{localize 'liber.level'}} : <input class="niveau" name="data.level" type="text" value="{{data.data.level}}" placeholder="1"/><button class="aucune" title="Aucune"></button><button class="focus" title="Focus"></button><button class="defensif" title="Défensif"></button><button class="offensif" title="Offensif"></button>
							<input class="postures" name="data.posture" type="text" value="{{data.data.posture}}" style="display:none"/></span></p>
					</div>
					
				</div>
			</div>
		</div>
		<main>
			<h2>{{localize 'liber.histoire'}}</h2>
				<textarea class="histoire" name="data.histoire" style="height:240px">{{data.data.histoire}}</textarea>
			<h2>{{localize 'liber.feuille'}}</h2>
			<div class="rexrow stat">
				<div class="grid-2col">
					<p><span class="deno">❤ {{localize 'liber.life'}}</span><input class="hp" name="data.hp.value" type="text" value="{{data.data.hp.value}}" placeholder="10"/><input class="hpmax" name="data.hp.max" type="text" value="{{data.data.hp.max}}" placeholder="10" style="width: 40px;"/>
					<span class="deno">♗ {{localize 'liber.psy'}} </span><input class="psy" name="data.psy.value" type="text" value="{{data.data.psy.value}}" placeholder="10" style="width: 40px;"/></p><input class="psymax" name="data.psy.max" type="text" value="{{data.data.psy.max}}" placeholder="10" style="width: 40px;"/>
				</div>
				<div class="grid-2col">
					<p><span class="deno">⛉ {{localize 'liber.armor'}}</span><input class="armureperso" name="data.protection" type="text" value="{{data.data.protection}}" placeholder="0"/>
					<span class="deno">⛉ {{localize 'liber.protection'}}</span> <input class="protection" name="data.protection-magique" type="text" value="{{data.data.protection-magique}}" placeholder="0"/> </p>
				</div>
				<div class="etat">
					<input class="insoin" name="data.insoin" type="text" value="{{data.data.insoin}}" placeholder="0"/>
					<input class="avant" name="data.avantage" type="text" value="{{data.data.avantage}}" placeholder="0"/>
					<input class="desan" name="data.desavantage" type="text" value="{{data.data.desavantage}}" placeholder="0"/>
				</div>
				<div class="etat">
					<button class="etat0"></button>
					<button class="etat1"></button>
					<button class="etat2"></button>
					<button class="etat3"></button>
					<button class="etat4"></button>
					<button class="etat5"></button>
					<button class="etat6"></button>
					<button class="etat7"></button>
					<button class="etat8"></button>
					<button class="etat9"></button>
					<button class="etat10"></button>
					<button class="etat11"></button>
					<button class="etat12"></button>
					<input class="etats" name="data.etat" type="text" value="{{data.data.etat}}" style="display:none"/>

				</div>
			</div>
			<div class="clear"></div>
			<h2 style="margin-top: 10px;">{{localize 'liber.attributs'}}</h2>
			<div class="rexrow stat2">
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Physique" data-dice="1d"data-attDice="{{data.data.physique}}">{{localize 'liber.phy'}}</label></p>
					<input class="phys" name="data.physique" type="text" value="{{data.data.physique}}" placeholder="{{data.data.physique}}" style="text-align: center"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Force" data-dice="1d"data-attDice="{{data.data.force}}" style="background: #dd8376;">{{localize 'liber.for'}}</label></p>
					<input class="forc" name="data.force" type="text" value="{{data.data.force}}" placeholder="5" style="width:40px" />
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Agilite" data-dice="1d"data-attDice="{{data.data.agilite}}" style="background: #dd8376;">{{localize 'liber.agi'}}</label></p>
					<input class="agil" name="data.agilite" type="text" value="{{data.data.agilite}}" placeholder="5" style="width:40px" />
				</div>
				<div class="grid-9col">
					<p style="text-align: center" style="text-align: center"><label class="jetdedes" data-name="Social" data-dice="1d"data-attDice="{{data.data.social}}">{{localize 'liber.soc'}}</label></p>
					<input class="soci" name="data.social" type="text" value="{{data.data.social}}" placeholder="10" style="text-align: center"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Charisme" data-dice="1d"data-attDice="{{data.data.charisme}}" style="background: #dd8376;">{{localize 'liber.cha'}}</label></p>
					<input class="char" name="data.charisme" type="text" value="{{data.data.charisme}}" placeholder="5" style="width:40px"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Sagacité" data-dice="1d"data-attDice="{{data.data.sagacite}}" style="background: #dd8376;">{{localize 'liber.sag'}}</label></p>
					<input class="saga" name="data.sagacite" type="text" value="{{data.data.sagacite}}" placeholder="5" style="width:40px"/>
				</div>
				<div class="grid-9col">
					<p style="text-align: center"><label class="jetdedes" data-name="Mental" data-dice="1d"data-attDice="{{data.data.mental}}">{{localize 'liber.men'}}</label></p>
					<input class="mental" name="data.mental" type="text" value="{{data.data.mental}}" placeholder="10" style="text-align: center"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Astuce" data-dice="1d"data-attDice="{{data.data.astuce}}" style="background: #dd8376;">{{localize 'liber.ast'}}</label></p>
					<input class="astu" name="data.ast" type="text" value="{{data.data.ast}}" placeholder="5" style="width:40px"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Mémoire" data-dice="1d"data-attDice="{{data.data.memoire}}" style="background: #dd8376;">{{localize 'liber.mem'}}</label></p>
					<input class="memo" name="data.memoire" type="text" value="{{data.data.memoire}}" placeholder="5" style="width:40px"/>
				</div>
				
			</div>
			<div class="clear"></div>
			<div class="rexrow modif" style="margin-top: 10px;">

					<h2 class="center">{{localize 'liber.mj'}}</h2>
					<button class="desequi resetmalus">🗑</button><input class="malussactor" name="data.malus" type="text" value="{{data.data.malus}}" placeholder="0"/>

			</div>
		</main>
	</div>
	<div class="col2">
		<div class="autres">
			{{!-- Sheet Tab Navigation --}}
		    <nav class="sheet-tabs tabs" data-group="primary">
		        <!--a class="item" data-tab="description">Description</a--><a class="item" data-tab="items" style="width: 50%"><span>{{localize 'liber.invent'}}</span></a><a class="item" data-tab="spells" style="width: 50%"><span>{{localize 'liber.magic'}}</span></a>
		    </nav>
		    {{!-- Sheet Body --}}
			<section class="sheet-body" style="overflow: auto;height: 717px;">
				{{!-- Items Tab --}}
				<div id="items" class="tab items" data-group="primary" data-tab="items">
					<div class="encom"><div class="barenc"></div>
						<p>{{localize 'liber.encombrement'}} <input class="encours" name="data.encombrement.value" type="text" value="{{data.data.encombrement.value}}" placeholder="0" style="width: 40px;" readonly=""/> / 
						<input class="enc" name="data.encombrement.max" type="text" value="{{data.data.encombrement.max}}" placeholder="0" style="width: 40px;" readonly="" /> {{localize 'liber.kg'}}</p>
					</div>
					<div class="rexrow">
						<div class="grid-3col" style="text-align: center" class="unemain">
							<h2>{{localize 'liber.gauche'}}</h2>
							<input class="maingaucequi" name="data.armeg" type="text" value="{{data.data.armeg}}" placeholder="Main Gauche" readonly="" /><button class="desequi maingdes">🗑</button>
							<input class="degatg jetdedegat" name="data.degatg" type="text" data-name="{{data.data.armeg}}" value="{{data.data.degatg}}" data-dice="{{data.data.degatg}}" placeholder="Dégat" readonly="" />
						</div>
						<div class="grid-3col" style="text-align: center">
							<h2 class="deuxmains">{{localize 'liber.droite'}}</h2>
							<input class="maindroiequi" name="data.armed" type="text" value="{{data.data.armed}}" placeholder="Main droite" readonly="" /><button class="desequi mainddes">🗑</button>
							<input class="degatd jetdedegat" name="data.degatd" type="text" data-name="{{data.data.armed}}" value="{{data.data.degatd}}" data-dice="{{data.data.degatd}}" placeholder="Dégat" readonly="" />
						</div>
						<div class="grid-3col" style="text-align: center">
							<h2>{{localize 'liber.armor'}}</h2>
							<input  class="armurequi" name="data.armure" type="text" value="{{data.data.armure}}" placeholder="Armure" readonly="" /><button class="desequi armordes">🗑</button>						
						</div>
					</div>
					<div class="clear"></div>
					<div class="grid-2col" style="text-align: center">
						&nbsp;
					</div>
					<div class="grid-2col" style="text-align: center">
						<ul class="items-list">
						{{#each actor.argent as |item id|}}
			                <li class="item fexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-poids">{{item.data.poids}}</div>
			                    <div class="item-qty">{{item.data.quantite}}</div>
			                    <div class="item-controls">
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </li>
			            {{/each}}
			        	</ul>
				     </div>
				     <div class="clear"></div>
					<h2>{{localize 'liber.invent'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>

						<ol class="items-list">
			                <li class="item fexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'liber.name'}}</div>
			                  <div class="item-type">{{localize 'liber.type'}}</div>
			                  <!--div class="item-description">{{localize 'liber.descri'}}</div-->               
			                  <div class="item-portee">{{localize 'liber.pte'}}</div>
			                  <div class="item-dommage">{{localize 'liber.dgt'}}</div>
			                  <div class="item-poids">{{localize 'liber.pds'}}</div>
			                  <div class="item-valeur">{{localize 'liber.ecu'}}</div>
			                  <div class="item-qty">{{localize 'liber.qte'}}</div>
			                  <div class="item-hand"></div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            </ol>
			            <ul class="items-list">
			            {{#each actor.inventaire as |item id|}}
			                <li class="item fexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-type" title="{{item.type}}">{{item.type}}</div>
			                   
			                    <div class="item-portee">{{item.data.portee}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.data.degat}}">{{item.data.degats}}</div-->
			                    <div class="item-dommage">{{item.data.degats}}</div>
			                    <div class="item-poids">{{item.data.poids}}</div>
			                    <div class="item-valeur">{{item.data.valeur}}</div>
			                    <div class="item-qty">{{item.data.quantite}}</div>
			                    <div class="item-hand"><span class="maingauche" title="main gauche" name="{{item.name}}" degat="{{item.data.degats}}"></span><span class="maindroite" title="main droite" name="{{item.name}}" degat="{{item.data.degats}}"></span><span class="armor" title="Armure" name="{{item.name}}" ></span></div>
			                    <div class="item-controls">
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>

			                     <div class="item-description"><span title="{{item.data.description}}">{{item.data.description}}</span></div>
			                </li>
			            {{/each}}
		        		</ul>
				</div>

				{{!-- Pouvoirs Tab --}}
				<div id="spells" class="tab spells" data-group="primary" data-tab="spells">
				        <ol class="items-list">
			                <li class="item fexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'liber.name'}}</div>
			                  <div class="item-classe">{{localize 'liber.class'}}</div>
			                  <!--div class="item-description2">{{localize 'liber.descri'}}</div-->               
			                  <div class="item-cible">{{localize 'liber.cible'}}</div>
			                  <div class="item-duree">{{localize 'liber.duree'}}</div>
			                  <div class="item-cout">{{localize 'liber.cost'}}</div>
			                  
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.sort as |item id|}}
			                <li class="item fexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><a class="item-control item-lancer" title="Lancer Sort" data-name="{{item.name}}" data-cout="{{item.data.cout}}"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a></div>
			                    <div class="item-name"><span title="{{item.name}}">{{item.name}}</span></div>
			                    <div class="item-classe">{{item.data.classe}}</div>
			                    
			                    <div class="item-cible">{{item.data.cible}}</div>
			                    <div class="item-duree">{{item.data.duree}}</div>
			                    <div class="item-cout">{{item.data.cout}}</div>
			                    <div class="item-controls">
			                        <a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Sort"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
			                    </div>

			                    <div class="item-description2"><span title="{{item.data.description}}">{{item.data.description}}</span></div>
			                </li>
			            {{/each}}
		        		</ol>
				    <div class="grid-2col" style="text-align: center;color:#fff">
				    	<input class="coutmax" type="text" value="" readonly><br>{{localize 'liber.maxcost'}}
				    </div>
				    <div class="grid-2col" style="text-align: center;color:#fff">
				    	<input class="maxsort" type="text" value="" readonly><br>{{localize 'liber.nb'}}*
				    </div>
				    <div class="clear"></div>
				    <p style="text-align: center;color:#6a7885">*{{localize 'liber.plus'}}</p>
				</div>
			</section>
		</div>
	</div>	
</div>
</form>

