<form class="{{cssClass}} Liber flexcol" autocomplete="off">
<div class="fiche">
	{{!-- Sheet Header --}}
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="sheet-header flexcol" id="pj-titre" style="flex: 0 0 515px;">
			<div class="head">
				<div class="avatar"> 
					<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				</div>
				<div class="headtext">
					<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
					<div class="rexrow">
						<div class="grid-3col">
							<p>{{localize 'liber.race'}} : <input class="race" type="text" value="{{data.system.race}}" placeholder="{{localize 'liber.race'}}" readonly="" /></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'liber.clan'}} : <input class="clan" type="text" value="{{data.system.clan}}" title="{{data.system.clan}}" placeholder="{{localize 'liber.clan'}}" readonly="" /></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'liber.religion'}} : <input class="religion" type="text" value="{{data.system.religion}}" title="{{data.system.religion}}" placeholder="{{localize 'liber.religion'}}" readonly="" /></p>
						</div>
						<div class="separator"></div>
						<p>{{localize 'liber.bonus'}} : <input class="avantagerace" type="text" value="{{data.system.cpt0}}, {{data.system.cpt1}}, {{data.system.cpt2}}" placeholder="{{localize 'liber.bonus'}}" readonly=""/>
							{{localize 'liber.level'}} : <input class="niveau" name="system.level" type="text" value="{{data.system.level}}" placeholder="1" readonly="" /><!--button class="aucune" title="Aucune"></button><button class="focus" title="Focus"></button><button class="defensif" title="Défensif"></button><button class="offensif" title="Offensif"></button>
							<input class="postures" name="system.posture" type="text" value="{{data.system.posture}}" style="display:none"/></span--></p>
					</div>
					
				</div>
			</div>
		</div>
		<main>
			<h2>{{localize 'liber.histoire'}}</h2>
				<textarea class="histoire" name="system.histoire">{{data.system.histoire}}</textarea>
			<h2>{{localize 'liber.feuille'}}</h2>
			<div class="rexrow stat">
				<div class="grid-2col">
					<p><span class="deno">❤ {{localize 'liber.life'}}</span><input class="hp" name="system.hp.value" type="text" value="{{data.system.hp.value}}" placeholder="10"/><input class="hpmax" name="system.hp.max" type="text" value="{{data.system.hp.max}}" placeholder="10" style="width: 40px;"/>
					<span class="deno">♗ {{localize 'liber.psy'}} </span><input class="psy" name="system.psy.value" type="text" value="{{data.system.psy.value}}" placeholder="10" style="width: 40px;"/></p><input class="psymax" name="system.psy.max" type="text" value="{{data.system.psy.max}}" placeholder="10" style="width: 40px;"/>
				</div>
				<div class="grid-2col">
					<p><span class="deno">⛉ {{localize 'liber.armor'}}</span><input class="armureperso" name="system.protection" type="text" value="{{data.system.protection}}" placeholder="0"/>
					<span class="deno">⛉ {{localize 'liber.protection'}}</span> <input class="protection" name="system.protection-magique" type="text" value="{{data.system.protection-magique}}" placeholder="0"/> </p>
				</div>
				<div class="rexrow stat3">
					<div class="grid-6col">
						<p><label class="jetdedes" data-name="Attaque" data-dice="d4" data-attDice="{{data.system.attaque}}">{{localize 'liber.attaque'}}</label></p>
						<input class="atta" name="system.attaque" type="text" value="{{data.system.attaque}}" placeholder="{{data.system.attaque}}" style="text-align: center"/>
					</div>
					<div class="grid-6col">
						<p><label class="jetdedes" data-name="Relance" data-dice="d4" data-attDice="{{data.system.relance}}">{{localize 'liber.relance'}}</label></p>
						<input class="rela" name="system.relance" type="text" value="{{data.system.relance}}" placeholder="5"/>
					</div>
					<div class="grid-6col">
						<p><label class="jetdedes" data-name="Chance" data-dice="d100" data-attDice="{{data.system.chance}}">{{localize 'liber.chance'}}</label></p>
						<input class="chan" name="system.chance" type="text" value="{{data.system.chance}}" placeholder="5"/>
					</div>
					<div class="grid-6col">
						<p><label class="jetdedes" data-name="Initiative">{{localize 'liber.initiative'}}</label></p>
						<input class="init" name="system.initiative" type="text" value="{{data.system.initiative}}" placeholder="5"/>
					</div>
					<div class="grid-6col">
						<p><label class="jetdedes" data-name="Destin">{{localize 'liber.destin'}}</label></p>
						<input class="destmin" name="system.destinmin" type="text" value="{{data.system.destinmin}}" placeholder="" style="width: 40%;" /><input class="dest" name="system.destin" type="text" value="{{data.system.destin}}" placeholder=""  style="width: 40%;" readonly />
					</div>
					
				</div>
			</div>
			<div class="clear"></div>
			<h2 style="margin-top: 10px;">{{localize 'liber.attributs'}}</h2>
			<div class="rexrow stat2">
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Physique" data-dice="d100" data-attDice="{{data.system.physique}}">{{localize 'liber.phy'}}</label></p>
					<input class="phys" name="system.physique" type="text" value="{{data.system.physique}}" placeholder="{{data.system.physique}}" style="text-align: center"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Force" data-dice="d100" data-attDice="{{data.system.force}}">{{localize 'liber.for'}}</label></p>
					<input class="forc" name="system.force" type="text" value="{{data.system.force}}" placeholder="5" style="width:40px" />
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Agilite" data-dice="d100" data-attDice="{{data.system.agilite}}">{{localize 'liber.agi'}}</label></p>
					<input class="agil" name="system.agilite" type="text" value="{{data.system.agilite}}" placeholder="5" style="width:40px" />
				</div>
				<div class="grid-9col">
					<p style="text-align: center" style="text-align: center"><label class="jetdedes" data-name="Social" data-dice="1d"data-attDice="{{data.system.social}}">{{localize 'liber.soc'}}</label></p>
					<input class="soci" name="system.social" type="text" value="{{data.system.social}}" placeholder="10" style="text-align: center"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Charisme" data-dice="d100" data-attDice="{{data.system.charisme}}">{{localize 'liber.cha'}}</label></p>
					<input class="char" name="system.charisme" type="text" value="{{data.system.charisme}}" placeholder="5" style="width:40px"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Sagacité" data-dice="d100" data-attDice="{{data.system.sagacite}}">{{localize 'liber.sag'}}</label></p>
					<input class="saga" name="system.sagacite" type="text" value="{{data.system.sagacite}}" placeholder="5" style="width:40px"/>
				</div>
				<div class="grid-9col">
					<p style="text-align: center"><label class="jetdedes" data-name="Mental" data-dice="d100" data-attDice="{{data.system.mental}}">{{localize 'liber.men'}}</label></p>
					<input class="mental" name="system.mental" type="text" value="{{data.system.mental}}" placeholder="10" style="text-align: center"/>
				</div>
				<div class="grid-9col">
					<p><label class="jetdedes" data-name="Astuce" data-dice="d100" data-attDice="{{data.system.astuce}}">{{localize 'liber.ast'}}</label></p>
					<input class="astu" name="system.ast" type="text" value="{{data.system.ast}}" placeholder="5" style="width:40px"/>
				</div>
				<!--div class="grid-9col">
					<p><label class="jetdedes" data-name="Mémoire" data-dice="1d"data-attDice="{{data.system.memoire}}">{{localize 'liber.mem'}}</label></p>
					<input class="memo" name="system.memoire" type="text" value="{{data.system.memoire}}" placeholder="5" style="width:40px"/>
				</div-->
				
			</div>
			<div class="rexrow modif">
				<div class="grid-3col" style="margin-top:10px">
					<!--h2 class="center">{{localize 'liber.restant'}}</h2>
					<input class="pointrestant" type="text" value="0" readonly/-->
				</div>
				<div class="grid-3col" style="margin-top:10px">
					<h2 class="center">{{localize 'liber.mj'}}</h2>
					<button class="desequi resetmalus">🗑</button><input class="malussactor" name="system.malus" type="text" value="{{data.system.malus}}" placeholder="0"/>
				</div>
				<div class="grid-3col" style="margin-top:10px">
					<h2 class="center">{{localize 'liber.compt'}}</h2>
					<button class="desequi resetbonus">🗑</button><input class="bonusactor" name="system.bonus" type="text" value="{{data.system.bonus}}" placeholder="0" readonly="" />
				</div>
			</div>
		</main>
	</div>
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="autres">
			{{!-- Sheet Tab Navigation --}}
		    <nav class="sheet-tabs tabs" data-group="primary">
		        <!--a class="item" data-tab="description">Description</a--><a class="item active" data-tab="features"><span>{{localize 'liber.compte'}}</span></a><a class="item" data-tab="carac"><span>{{localize 'liber.caract'}}</span></a><a class="item" data-tab="items"><span>{{localize 'liber.invent'}}</span></a><a class="item" data-tab="spells"><span>{{localize 'liber.magic'}}</span></a><a class="item" data-tab="lab">⚙</a>
		    </nav>
		    {{!-- Sheet Body --}}
			<section class="sheet-body" style="overflow: auto;height: 717px;;">
			    {{!-- Features Tab --}}
				<div id="features" class="tab features"  data-group="primary" data-tab="features">
					<div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.acrobatie}}" title="{{localize 'liber.acro'}}">{{localize 'liber.acro'}}<!--sup>1</sup--></button><input class="cpt0" type="text" name="system.caracteristique.acrobatie" value="{{data.system.caracteristique.acrobatie}}"></div>
		        	<div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.agilites}}" title="{{localize 'liber.agil'}}">{{localize 'liber.agil'}}<!--sup>3</sup--></button><input class="cpt1" type="text" name="system.caracteristique.agilites" value="{{data.system.caracteristique.agilites}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.alchimie}}" title="{{localize 'liber.alch'}}">{{localize 'liber.alch'}}<!--sup>2</sup--></button><input class="cpt2" type="text" name="system.caracteristique.alchimie" value="{{data.system.caracteristique.alchimie}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.apprentissage}}" title="{{localize 'liber.appr'}}">{{localize 'liber.appr'}}<!--sup>3</sup--></button><input class="cpt3" type="text" name="system.caracteristique.apprentissage" value="{{data.system.caracteristique.apprentissage}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.hast}}" title="{{localize 'liber.hast'}}">{{localize 'liber.hast'}}<!--sup>3</sup--></button><input class="cpt4" type="text" name="system.caracteristique.hast" value="{{data.system.caracteristique.hast}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.cc}}" title="{{localize 'liber.corp'}}">{{localize 'liber.corp'}}<!--sup>3</sup--></button><input class="cpt5" type="text" name="system.caracteristique.cc" value="{{data.system.caracteristique.cc}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.lancer}}" title="{{localize 'liber.lanc'}}">{{localize 'liber.lanc'}}<!--sup>3</sup--></button><input class="cpt6" type="text" name="system.caracteristique.lancer" value="{{data.system.caracteristique.lancer}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.melee}}" title="{{localize 'liber.mele'}}">{{localize 'liber.mele'}}<!--sup>3</sup--></button><input class="cpt7" type="text" name="system.caracteristique.melee" value="{{data.system.caracteristique.melee}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.tir}}" title="{{localize 'liber.atir'}}">{{localize 'liber.atir'}}<!--sup>3</sup--></button><input class="cpt8" type="text" name="system.caracteristique.tir" value="{{data.system.caracteristique.tir}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.art}}" title="{{localize 'liber.arti'}}">{{localize 'liber.arti'}}<!--sup>1</sup--></button><input class="cpt9" type="text" name="system.caracteristique.art" value="{{data.system.caracteristique.art}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.assassinat}}" title="{{localize 'liber.assa'}}">{{localize 'liber.assa'}}<!--sup>2</sup--></button><input class="cpt10" type="text" name="system.caracteristique.assassinat" value="{{data.system.caracteristique.assassinat}}"></div>
					<div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.baton}}" title="{{localize 'liber.bato'}}">{{localize 'liber.bato'}}<!--sup>2</sup--></button><input class="cpt11" type="text" name="system.caracteristique.baton" value="{{data.system.caracteristique.baton}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.bouclier}}" title="{{localize 'liber.bouc'}}">{{localize 'liber.bouc'}}<!--sup>2</sup--></button><input class="cpt12" type="text" name="system.caracteristique.bouclier" value="{{data.system.caracteristique.bouclier}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.bricolage}}" title="{{localize 'liber.bric'}}">{{localize 'liber.bric'}}<!--sup>1</sup--></button><input class="cpt13" type="text" name="system.caracteristique.bricolage" value="{{data.system.caracteristique.bricolage}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.presence}}" title="{{localize 'liber.char'}}">{{localize 'liber.char'}}<!--sup>3</sup--></button><input class="cpt14" type="text" name="system.caracteristique.presence" value="{{data.system.caracteristique.presence}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.chercher}}" title="{{localize 'liber.chec'}}">{{localize 'liber.chec'}}<!--sup>1</sup--></button><input class="cpt15" type="text" name="system.caracteristique.chercher" value="{{data.system.caracteristique.chercher}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.commander}}" title="{{localize 'liber.comm'}}">{{localize 'liber.comm'}}<!--sup>2</sup--></button><input class="cpt16" type="text" name="system.caracteristique.commander" value="{{data.system.caracteristique.commander}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.concentration}}" title="{{localize 'liber.conc'}}">{{localize 'liber.conc'}}<!--sup>3</sup--></button><input class="cpt17" type="text" name="system.caracteristique.concentration" value="{{data.system.caracteristique.concentration}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.nature}}" title="{{localize 'liber.natu'}}">{{localize 'liber.natu'}}<!--sup>1</sup--></button><input class="cpt18" type="text" name="system.caracteristique.nature" value="{{data.system.caracteristique.nature}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.peuples}}" title="{{localize 'liber.peup'}}">{{localize 'liber.peup'}}<!--sup>1</sup--></button><input class="cpt19" type="text" name="system.caracteristique.peuples" value="{{data.system.caracteristique.peuples}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.religions}}" title="{{localize 'liber.reli'}}">{{localize 'liber.reli'}}<!--sup>1</sup--></button><input class="cpt20" type="text" name="system.caracteristique.religions" value="{{data.system.caracteristique.religions}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.geographique}}" title="{{localize 'liber.geog'}}">{{localize 'liber.geog'}}<!--sup>1</sup--></button><input class="cpt21" type="text" name="system.caracteristique.geographique" value="{{data.system.caracteristique.geographique}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.rue}}" title="{{localize 'liber.arue'}}">{{localize 'liber.arue'}}<!--sup>1</sup--></button><input class="cpt22" type="text" name="system.caracteristique.rue" value="{{data.system.caracteristique.rue}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.heretiques}}" title="{{localize 'liber.here'}}">{{localize 'liber.here'}}<!--sup>1</sup--></button><input class="cpt23" type="text" name="system.caracteristique.heretiques" value="{{data.system.caracteristique.heretiques}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.combat}}" title="{{localize 'liber.a'}}">{{localize 'liber.comb'}}<!--sup>3</sup--></button><input class="cpt24" type="text" name="system.caracteristique.combat" value="{{data.system.caracteristique.combat}}"></div>
					<div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.commerce}}" title="{{localize 'liber.comm'}}">{{localize 'liber.comm'}}<!--sup>2</sup--></button><input class="cpt25" type="text" name="system.caracteristique.commerce" value="{{data.system.caracteristique.commerce}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.crochetage}}" title="{{localize 'liber.croc'}}">{{localize 'liber.croc'}}<!--sup>1</sup--></button><input class="cpt26" type="text" name="system.caracteristique.crochetage" value="{{data.system.caracteristique.crochetage}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.discretion}}" title="{{localize 'liber.disc'}}">{{localize 'liber.disc'}}<!--sup>2</sup--></button><input class="cpt27" type="text" name="system.caracteristique.discretion" value="{{data.system.caracteristique.discretion}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.dexterite}}" title="{{localize 'liber.dext'}}">{{localize 'liber.dext'}}<!--sup>3</sup--></button><input class="cpt28" type="text" name="system.caracteristique.dexterite" value="{{data.system.caracteristique.dexterite}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.detection}}" title="{{localize 'liber.dect'}}">{{localize 'liber.dect'}}<!--sup>2</sup--></button><input class="cpt29" type="text" name="system.caracteristique.detection" value="{{data.system.caracteristique.detection}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.dissimulation}}" title="{{localize 'liber.diss'}}">{{localize 'liber.diss'}}<!--sup>3</sup--></button><input class="cpt30" type="text" name="system.caracteristique.dissimulation" value="{{data.system.caracteristique.dissimulation}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.dressage}}" title="{{localize 'liber.dres'}}">{{localize 'liber.dres'}}<!--sup>1</sup--></button><input class="cpt31" type="text" name="system.caracteristique.dressage" value="{{data.system.caracteristique.dressage}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.ennemi}}" title="{{localize 'liber.enne'}}">{{localize 'liber.enne'}}<!--sup>1</sup--></button><input class="cpt32" type="text" name="system.caracteristique.ennemi" value="{{data.system.caracteristique.ennemi}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.equilibre}}" title="{{localize 'liber.equi'}}">{{localize 'liber.equi'}}<!--sup>1</sup--></button><input class="cpt33" type="text" name="system.caracteristique.equilibre" value="{{data.system.caracteristique.equilibre}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.equitation}}" title="{{localize 'liber.equt'}}">{{localize 'liber.equt'}}<!--sup>1</sup--></button><input class="cpt34" type="text" name="system.caracteristique.equitation" value="{{data.system.caracteristique.equitation}}"></div>
		    	    <div class="compt"><button class="desequi attribut" name="{{data.system.caracteristique.escroquerie}}" title="{{localize 'liber.escr'}}">{{localize 'liber.escr'}}<!--sup>1</sup--></button><input class="cpt35" type="text" name="system.caracteristique.escroquerie" value="{{data.system.caracteristique.escroquerie}}"></div>
		    	    <!--div class="compt">
		    	    </div>
		    	    <div class="compt">
		    	    </div>
		    	    <div class="compt"><button>{{localize 'liber.restant'}}*</button><input class="restant" type="text" value="000" readonly>
		    	    <p>*{{localize 'liber.hors'}}</p></div-->
				</div>

				{{!-- Carac Tab --}}
				<div id="carac" class="tab carac" data-group="primary" data-tab="carac">
					<div class="clear"></div>
					<h2>{{localize 'liber.perso'}}</h2>
		            <div class="compt"><span>{{localize 'liber.resid'}} :</span><input class="residence" name="system.caractere.residence" type="text" value="{{data.system.caractere.residence}}" placeholder="{{localize 'liber.resid'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.sanga'}} :</span><input class="sang" name="system.caractere.sang" type="text" value="{{data.system.caractere.sang}}" placeholder="{{localize 'liber.sanga'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.secte'}} :</span><input class="secte" name="system.caractere.politique" type="text" value="{{data.system.caractere.politique}}" placeholder="{{localize 'liber.secte'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.inter'}} :</span><input class="interet" name="system.caractere.interets" type="text" value="{{data.system.caractere.interets}}" placeholder="{{localize 'liber.inter'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.deces'}} :</span><input class="proche" name="system.caractere.deces" type="text" value="{{data.system.caractere.deces}}" placeholder="{{localize 'liber.deces'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.moral'}} :</span><input class="moral" name="system.caractere.moral" type="text" value="{{data.system.caractere.moral}}" placeholder="{{localize 'liber.moral'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.amour'}} :</span><input class="amour" name="system.caractere.amour" type="text" value="{{data.system.caractere.amour}}" placeholder="{{localize 'liber.amour'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.amiti'}} :</span><input class="amitie" name="system.caractere.amitie" type="text" value="{{data.system.caractere.amitie}}" placeholder="{{localize 'liber.amiti'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.haine'}} :</span><input class="haine" name="system.caractere.haine" type="text" value="{{data.system.caractere.haine}}" placeholder="{{localize 'liber.haine'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.princ'}} :</span><input class="principale" name="system.caractere.principale" type="text" value="{{data.system.caractere.principale}}" placeholder="{{localize 'liber.princ'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.secon'}} :</span><input class="secondaire" name="system.caractere.secondaire" type="text" value="{{data.system.caractere.secondaire}}" placeholder="{{localize 'liber.secon'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.passi'}} :</span><input class="passion" name="system.caractere.passion" type="text" value="{{data.system.caractere.passion}}" placeholder="{{localize 'liber.passi'}} "/></div>
		            <div class="compt"><span>{{localize 'liber.carac'}} :</span><input class="caractere" name="system.caractere.caract" type="text" value="{{data.system.caractere.caract}}" placeholder="{{localize 'liber.carac'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.persn'}} :</span><input class="personnalite" name="system.caractere.personnalite" type="text" value="{{data.system.caractere.personnalite}}" placeholder="{{localize 'liber.persn'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.perso'}} :</span><input class="monde" name="system.caractere.perception" type="text" value="{{data.system.caractere.perception}}" placeholder="{{localize 'liber.perso'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.objec'}} :</span><input class="objectif" name="system.caractere.objectif" type="text" value="{{data.system.caractere.objectif}}" placeholder="{{localize 'liber.objec'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.rancu'}} :</span><input class="rancunier" name="system.caractere.rancunier" type="text" value="{{data.system.caractere.rancunier}}" placeholder="{{localize 'liber.rancu'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.menta'}} :</span><input class="tare" name="system.caractere.tare" type="text" value="{{data.system.caractere.tare}}" placeholder="{{localize 'liber.menta'}}"/></div>
		            <div class="compt"><span>{{localize 'liber.obess'}} :</span><input class="obsession" name="system.caractere.obsession" type="text" value="{{data.system.caractere.obsession}}" placeholder="{{localize 'liber.obess'}}"/></div>
				    
				</div>
				{{!-- Items Tab --}}
				<div id="items" class="tab items" data-group="primary" data-tab="items">
					<div class="encom"><div class="barenc"></div>
						<p>{{localize 'liber.encombrement'}} <input class="encours" name="system.encombrement.value" type="text" value="{{data.system.encombrement.value}}" placeholder="0" style="width: 40px;" readonly=""/> / 
						<input class="enc" name="system.encombrement.max" type="text" value="{{data.system.encombrement.max}}" placeholder="0" style="width: 40px;" readonly="" /> {{localize 'liber.kg'}}</p>
					</div>
					<div class="rexrow">
						<div class="grid-3col" style="text-align: center" class="unemain">
							<h2>{{localize 'liber.gauche'}}</h2>
							<input class="maingaucequi" name="system.armeg" type="text" value="{{data.system.armeg}}" placeholder="Main Gauche" readonly="" /><button class="desequi maingdes">🗑</button>
							<input class="degatg jetdedegat" name="system.degatg" type="text" data-name="{{data.system.armeg}}" value="{{data.system.degatg}}" data-dice="{{data.system.degatg}}" placeholder="Dégat" readonly="" />
						</div>
						<div class="grid-3col" style="text-align: center">
							<h2 class="deuxmains">{{localize 'liber.droite'}}</h2>
							<input class="maindroiequi" name="system.armed" type="text" value="{{data.system.armed}}" placeholder="Main droite" readonly="" /><button class="desequi mainddes">🗑</button>
							<input class="degatd jetdedegat" name="system.degatd" type="text" data-name="{{data.system.armed}}" value="{{data.system.degatd}}" data-dice="{{data.system.degatd}}" placeholder="Dégat" readonly="" />
						</div>
						<div class="grid-3col" style="text-align: center">
							<h2>{{localize 'liber.armor'}}</h2>
							<input  class="armurequi" name="system.armure" type="text" value="{{data.system.armure}}" placeholder="Armure" readonly="" /><button class="desequi armordes">🗑</button>						
						</div>
					</div>
					<div class="clear"></div>
					<div class="grid-2col" style="text-align: center">
						&nbsp;
					</div>
					<div class="grid-2col" style="text-align: center">
						<ul class="items-list">
						{{#each actor.argent as |item id|}}
			                <li class="item fexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-poids">{{item.system.poids}}</div>
			                    <div class="item-qty">{{item.system.quantite}}</div>
			                    <div class="item-controls">
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                </li>
			            {{/each}}
			        	</ul>
				     </div>
				     <div class="clear"></div>
					<h2>{{localize 'liber.invent'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>

						<ol class="items-list">
			                <li class="item fexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'liber.name'}}</div>
			                  <div class="item-type">{{localize 'liber.type'}}</div>
			                  <!--div class="item-description">{{localize 'liber.descri'}}</div-->               
			                  <div class="item-portee">{{localize 'liber.pte'}}</div>
			                  <div class="item-dommage">{{localize 'liber.dgt'}}</div>
			                  <div class="item-poids">{{localize 'liber.pds'}}</div>
			                  <div class="item-valeur">{{localize 'liber.ecu'}}</div>
			                  <div class="item-qty">{{localize 'liber.qte'}}</div>
			                  <div class="item-hand"></div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            </ol>
			            <ul class="items-list">
			            {{#each actor.inventaire as |item id|}}
			                <li class="item fexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-type" title="{{item.type}}">{{item.type}}</div>
			                   
			                    <div class="item-portee">{{item.system.portee}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.system.degat}}">{{item.system.degats}}</div-->
			                    <div class="item-dommage">{{item.system.degats}}</div>
			                    <div class="item-poids">{{item.system.poids}}</div>
			                    <div class="item-valeur">{{item.system.valeur}}</div>
			                    <div class="item-qty">{{item.system.quantite}}</div>
			                    <div class="item-hand"><span class="maingauche" title="main gauche" name="{{item.name}}" degat="{{item.system.degats}}"></span><span class="maindroite" title="main droite" name="{{item.name}}" degat="{{item.system.degats}}"></span><span class="armor" title="Armure" name="{{item.name}}" ></span></div>
			                    <div class="item-controls">
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>

			                     <div class="item-description"><span title="{{item.system.description}}">{{item.system.description}}</span></div>
			                </li>
			            {{/each}}
		        		</ul>
				</div>

				{{!-- Pouvoirs Tab --}}
				<div id="spells" class="tab spells" data-group="primary" data-tab="spells">
				        <ol class="items-list">
			                <li class="item fexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'liber.name'}}</div>
			                  <div class="item-classe">{{localize 'liber.class'}}</div>
			                  <!--div class="item-description2">{{localize 'liber.descri'}}</div-->               
			                  <div class="item-cible">{{localize 'liber.cible'}}</div>
			                  <div class="item-duree">{{localize 'liber.duree'}}</div>
			                  <div class="item-cout">{{localize 'liber.cost'}}</div>
			                  
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.sort as |item id|}}
			                <li class="item fexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><a class="item-control item-lancer" title="Lancer Sort" data-name="{{item.name}}" data-cout="{{item.system.cout}}"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a></div>
			                    <div class="item-name"><span title="{{item.name}}">{{item.name}}</span></div>
			                    <div class="item-classe">{{item.system.classe}}</div>
			                    
			                    <div class="item-cible">{{item.system.cible}}</div>
			                    <div class="item-duree">{{item.system.duree}}</div>
			                    <div class="item-cout">{{item.system.cout}}</div>
			                    <div class="item-controls">
			                        <a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Sort"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Sort"><i class="fas fa-trash"></i></a>
			                    </div>

			                    <div class="item-description2"><span title="{{item.system.description}}">{{item.system.description}}</span></div>
			                </li>
			            {{/each}}
		        		</ol>
				    <div class="grid-2col" style="text-align: center;color:#fff">
				    </div>
				    <div class="grid-2col" style="text-align: center;color:#fff">
				    	<input class="maxsort mot" name="system.mot" type="text" value="{{data.system.mot}}" placeholder="10" style="text-align: center" readonly /><br>{{localize 'liber.nb'}}
				    </div>
				    <div class="clear"></div>
				    
				</div>
				{{!-- Lab Tab --}}
				<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
					<div class="grid-3col">
						<h2>{{localize 'liber.race'}}</h2>
							<SELECT class="raceliste" name="system.race">
								{{#select data.system.race}}
				                  	<option value="{{localize 'liber.avantrace60'}}">{{localize 'liber.avantrace60'}}</option>
				                    <option value="{{localize 'liber.avantrace61'}}">{{localize 'liber.avantrace61'}}</option>
				                    <option value="{{localize 'liber.avantrace62'}}">{{localize 'liber.avantrace62'}}</option>
				                    <option value="{{localize 'liber.avantrace63'}}">{{localize 'liber.avantrace63'}}</option>
				                    <option value="{{localize 'liber.avantrace64'}}">{{localize 'liber.avantrace64'}}</option>
				                    <option value="{{localize 'liber.avantrace65'}}">{{localize 'liber.avantrace65'}}</option>
				                {{/select}}
			                </SELECT>
			                <!--input type="button" value="{{localize 'liber.choisir'}}" class="racechoix"-->
			        </div>
					<div class="grid-3col">	
						<h2>{{localize 'liber.clan'}}</h2>
						<SELECT class="clanliste"  name="system.clan">
							{{#select data.system.clan}}
			                    <option value="{{localize 'liber.avantrace40'}}">{{localize 'liber.avantrace40'}}</option>
			                    <option value="{{localize 'liber.avantrace41'}}">{{localize 'liber.avantrace41'}}</option>
			                    <option value="{{localize 'liber.avantrace42'}}">{{localize 'liber.avantrace42'}}</option>
			                    <option value="{{localize 'liber.avantrace43'}}">{{localize 'liber.avantrace43'}}</option>
			                    <option value="{{localize 'liber.avantrace44'}}">{{localize 'liber.avantrace44'}}</option>
			                    <option value="{{localize 'liber.avantrace45'}}">{{localize 'liber.avantrace45'}}</option>
			                    <option value="{{localize 'liber.avantrace46'}}">{{localize 'liber.avantrace46'}}</option>
			                    <option value="{{localize 'liber.avantrace47'}}">{{localize 'liber.avantrace47'}}</option>
			                    <option value="{{localize 'liber.avantrace48'}}">{{localize 'liber.avantrace48'}}</option>
			                    <option value="{{localize 'liber.avantrace49'}}">{{localize 'liber.avantrace49'}}</option>
			                    <option value="{{localize 'liber.avantrace50'}}">{{localize 'liber.avantrace50'}}</option>
			                    <option value="{{localize 'liber.avantrace51'}}">{{localize 'liber.avantrace51'}}</option>
			                    <option value="{{localize 'liber.avantrace52'}}">{{localize 'liber.avantrace52'}}</option>
			                    <option value="{{localize 'liber.avantrace53'}}">{{localize 'liber.avantrace53'}}</option>
			                    <option value="{{localize 'liber.avantrace54'}}">{{localize 'liber.avantrace54'}}</option>
			                    <option value="{{localize 'liber.avantrace55'}}">{{localize 'liber.avantrace55'}}</option>
			                    <option value="{{localize 'liber.avantrace56'}}">{{localize 'liber.avantrace56'}}</option>
			                    <option value="{{localize 'liber.avantrace57'}}">{{localize 'liber.avantrace57'}}</option>			                    
			                    <option value="{{localize 'liber.avantrace58'}}">{{localize 'liber.avantrace58'}}</option>			                    
			                    <option value="{{localize 'liber.avantrace59'}}">{{localize 'liber.avantrace59'}}</option>			                    
			                    <option value="{{localize 'liber.avantrace68'}}">{{localize 'liber.avantrace68'}}</option>
			                    <option value="{{localize 'liber.avantrace69'}}">{{localize 'liber.avantrace69'}}</option>
			                    <option value="{{localize 'liber.avantrace70'}}">{{localize 'liber.avantrace70'}}</option>
			                    <option value="{{localize 'liber.avantrace71'}}">{{localize 'liber.avantrace71'}}</option>
			                    <option value="{{localize 'liber.avantrace72'}}">{{localize 'liber.avantrace72'}}</option>
			                    <option value="{{localize 'liber.avantrace73'}}">{{localize 'liber.avantrace73'}}</option>
			                    <option value="{{localize 'liber.avantrace74'}}">{{localize 'liber.avantrace74'}}</option>
			                {{/select}}
		                </SELECT>
		                <!--input type="button" value="{{localize 'liber.choisir'}}" class="clanchoix"-->
	                </div>
					<div class="grid-3col">	

						<h2>{{localize 'liber.religion'}}</h2>
						<SELECT class="religionlist" name="system.religion">
							{{#select data.system.religion}}
			                    <option value="{{localize 'liber.avantrace75'}}">{{localize 'liber.avantrace75'}}</option>
			                    <option value="{{localize 'liber.avantrace76'}}">{{localize 'liber.avantrace76'}}</option>
			                    <option value="{{localize 'liber.avantrace77'}}">{{localize 'liber.avantrace77'}}</option>
			                    <option value="{{localize 'liber.avantrace78'}}">{{localize 'liber.avantrace78'}}</option>
			                    <option value="{{localize 'liber.avantrace79'}}">{{localize 'liber.avantrace79'}}</option>
			                    <option value="{{localize 'liber.avantrace80'}}">{{localize 'liber.avantrace80'}}</option>
			                    <option value="{{localize 'liber.avantrace81'}}">{{localize 'liber.avantrace81'}}</option>
			                    <option value="{{localize 'liber.avantrace82'}}">{{localize 'liber.avantrace82'}}</option>
			                    <option value="{{localize 'liber.avantrace83'}}">{{localize 'liber.avantrace83'}}</option>
			                    <option value="{{localize 'liber.avantrace84'}}">{{localize 'liber.avantrace84'}}</option>
			                    <option value="{{localize 'liber.avantrace85'}}">{{localize 'liber.avantrace85'}}</option>
			                    <option value="{{localize 'liber.avantrace86'}}">{{localize 'liber.avantrace86'}}</option>
			                    <option value="{{localize 'liber.avantrace87'}}">{{localize 'liber.avantrace87'}}</option>
			                    <option value="{{localize 'liber.avantrace88'}}">{{localize 'liber.avantrace88'}}</option>
			                    <option value="{{localize 'liber.avantrace89'}}">{{localize 'liber.avantrace89'}}</option>
			                {{/select}}
		                </SELECT>
		                <!--input type="button" value="{{localize 'liber.choisir'}}" class="religionchoix">
		                <input type="button" value="{{localize 'liber.choisir'}}" class="religionchoix"-->	
		                <!--div class="rexrow" style="margin-top: 30px;">
			                <div class="grid-2col">
			                	<h2>{{localize 'liber.histoire'}}</h2>
			                	<input type="button" value="{{localize 'liber.generer'}}" class="generator">
			                </div>
			                <div class="grid-2col">
				                <h2>{{localize 'liber.caract'}}</h2>	
				                <input type="button" value="{{localize 'liber.generer'}}" class="caractergen">
				            </div>
				        </div-->
				    </div>
				    <div class="clear"></div>
				    <h2>{{localize 'liber.bonus'}}</h2>
					<div class="grid-3col">	
							<SELECT class="cart1" name="system.cart1">
								{{#select data.system.cart1}}
					                <option value="Créativité">Créativité</option>
					                <option value="Curiosité">Curiosité</option>
					                <option value="Ouverture d'esprit">Ouverture d'esprit</option>
					                <option value="Amour de l'apprentissage">Amour de l'apprentissage</option>
					                <option value="Perspective">Perspective</option>
					                <option value="Bravoure">Bravoure</option>
					                <option value="Persistence">Persistence</option>
					                <option value="Intégrité">Intégrité</option>
					                <option value="Vitalité">Vitalité</option>
					                <option value="Amour">Amour</option>
					                <option value="Gentillesse">Gentillesse</option>
					                <option value="Intelligence sociale">Intelligence sociale</option>
					                <option value="Civilité">Civilité</option>
					                <option value="Équité">Équité</option>
					                <option value="Leadership">Leadership</option>
					                <option value="Pardon">Pardon</option>
					                <option value="Humilité">Humilité</option>
					                <option value="Prudence">Prudence</option>
					                <option value="Régulation de soi">Régulation de soi</option>
					                <option value="Appréciation de la beauté">Appréciation de la beauté</option>
					                <option value="Gratitude">Gratitude</option>
					                <option value="Espoir">Espoir</option>
					                <option value="Humour">Humour</option>
					                <option value="Spiritualité">Spiritualité</option>
                                {{/select}}
                            </SELECT>   
                        </div>
                        <div class="grid-3col">
							<SELECT class="cart2"  name="system.cart2">
								{{#select data.system.cart2}}
					                <option value="Créativité">Créativité</option>
					                <option value="Curiosité">Curiosité</option>
					                <option value="Ouverture d'esprit">Ouverture d'esprit</option>
					                <option value="Amour de l'apprentissage">Amour de l'apprentissage</option>
					                <option value="Perspective">Perspective</option>
					                <option value="Bravoure">Bravoure</option>
					                <option value="Persistence">Persistence</option>
					                <option value="Intégrité">Intégrité</option>
					                <option value="Vitalité">Vitalité</option>
					                <option value="Amour">Amour</option>
					                <option value="Gentillesse">Gentillesse</option>
					                <option value="Intelligence sociale">Intelligence sociale</option>
					                <option value="Civilité">Civilité</option>
					                <option value="Équité">Équité</option>
					                <option value="Leadership">Leadership</option>
					                <option value="Pardon">Pardon</option>
					                <option value="Humilité">Humilité</option>
					                <option value="Prudence">Prudence</option>
					                <option value="Régulation de soi">Régulation de soi</option>
					                <option value="Appréciation de la beauté">Appréciation de la beauté</option>
					                <option value="Gratitude">Gratitude</option>
					                <option value="Espoir">Espoir</option>
					                <option value="Humour">Humour</option>
					                <option value="Spiritualité">Spiritualité</option>
                                {{/select}}
                            </SELECT>   
                        </div>
                        <div class="grid-3col">
							<SELECT class="cart3"  name="system.cart3">
								{{#select data.system.cart3}}
					                <option value="Créativité">Créativité</option>
					                <option value="Curiosité">Curiosité</option>
					                <option value="Ouverture d'esprit">Ouverture d'esprit</option>
					                <option value="Amour de l'apprentissage">Amour de l'apprentissage</option>
					                <option value="Perspective">Perspective</option>
					                <option value="Bravoure">Bravoure</option>
					                <option value="Persistence">Persistence</option>
					                <option value="Intégrité">Intégrité</option>
					                <option value="Vitalité">Vitalité</option>
					                <option value="Amour">Amour</option>
					                <option value="Gentillesse">Gentillesse</option>
					                <option value="Intelligence sociale">Intelligence sociale</option>
					                <option value="Civilité">Civilité</option>
					                <option value="Équité">Équité</option>
					                <option value="Leadership">Leadership</option>
					                <option value="Pardon">Pardon</option>
					                <option value="Humilité">Humilité</option>
					                <option value="Prudence">Prudence</option>
					                <option value="Régulation de soi">Régulation de soi</option>
					                <option value="Appréciation de la beauté">Appréciation de la beauté</option>
					                <option value="Gratitude">Gratitude</option>
					                <option value="Espoir">Espoir</option>
					                <option value="Humour">Humour</option>
					                <option value="Spiritualité">Spiritualité</option>
                                {{/select}}
                            </SELECT>   
                            
                        </div>
                        <input type="button" value="{{localize 'liber.generer'}}" class="caractlist">
					</div>
				</div>
			</section>
		</div>
	</div>	
</div>
</form>